
.h2title{
    color: var(--primary-color);
}
.container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
     justify-content: center;
    margin: 20px;
    /* border: 1px solid red; */
  }
  
  .imagediv {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .image {
    border-radius: 50%;
    border: 1px solid red;
    width: 80px;
  }
  
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .buttons button {
    margin-right: 80px;
    font-weight:600;
    

  }

.answerbtn{
    color: white;
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem; 
    border: none;
   
}

.seemorebtn{
  margin-top: 20px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 5px 10px;
}
