
.flex-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.task-container,
.calender-container,
.inquiry-container,
.contents-container,
.message-container,
.survey-container,
.circle-chart,
.bar-graph {
  width: 49%;
  border: none;
  margin-bottom: 10px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(219, 209, 252));
  border-radius: 4px;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgb(165, 165, 165);
}

.task-container:hover,
.calender-container:hover,
.inquiry-container:hover,
.contents-container:hover,
.message-container:hover,
.survey-container:hover,
.circle-chart:hover,
.bar-graph:hover {
  box-shadow: 0 0 0 5px rgb(53, 86, 233);
}

.react-calendar {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(219, 209, 252));
  border: none;
}

@media (max-width: 768px) {
  .flex-1 {
    flex-direction: column;
  }

  .task-container,
  .calender-container,
  .inquiry-container,
  .contents-container,
  .message-container,
  .survey-container,
  .circle-chart,
  .bar-graph {
    width: 100%;
  }
}