
.main{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.h2title {
    color: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.imagediv {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

}

.image {
    border: 1px solid red;
    max-width: 130px;
}

.top {
    display: flex;
    justify-content: space-between;
}


.content {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.tags {
    color: var(--secondary-color)
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.buttons button {
    margin-right: 80px;
    font-weight: 600;
}

.answerbtn {
    color: white;
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border: none;
}

.ignorebtn {
    color: black;
    background-color: var(--gray-color);
    padding: 0.5rem 1rem;
    border: none;
}

.seemorebtn{
    margin-top: 20px;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    padding: 5px 10px;
  }

.btnflex{
    display: flex;
    justify-content: space-around;
}