/* Add your CSS to style the Materials component */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

.form-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form-container button[type="submit"] {
  background-color: #28a745;
}
.dlit-btn{
  background:transparent;
  color: red;
  font-size: 25px;
  font-weight: 700;
  
}
.show-btn{
  background:transparent;
  color: blue;
  font-size: 25px;
  font-weight: 700;
}

/* Add more styles as needed */
