/* Materials.css */

/* Container styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style for the Add More button */
.add-btn-material {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 1050px;
}

.add-btn-material:hover {
  background-color: #0056b3;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 16px;
}

input:focus {
  border-color: #007bff;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}

th {
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

td {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

/* Style for table header cells */
th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}


tr:hover td {
  background-color: #f0f0f0;
}


.show-btn,
.dlit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  color: #007bff;
  transition: color 0.3s ease;
}

.show-btn:hover,
.dlit-btn:hover {
  color: #0056b3;
}
.backarrow-btn-material{
margin-top: 20px;
margin-left: 50px;
background-color: #ecab1d;
}