/* Default styles for larger screens */
.welcome-image {
  text-align: center;
  padding: 20px;
}

.welcome-image img {
  max-width: 100%;
  height: auto;
}

.welcome-text-admin {
  font-size: 24px;
  margin-top: 20px;
}

.lets-go-button {
  margin-top: 20px;
  font-size: large;
  color: black;
}

.lets-go-button a{
  
  font-size: large;
  color: black;
}


/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .welcome-text-admin {
    font-size: 18px; /* Decrease font size for smaller screens */
  }

  .lets-go-button {
    margin-top: 10px; /* Reduce margin-top for smaller screens */
    font-size: large;
    color: black;
  }
  .lets-go-button a{
  
    font-size: large;
    color: black;
  }
  
}
