.h2title{
    color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: center;
}

.numbers {
    font-size: 2rem;
    color: var(--dark-color);
    font-weight: 600;
}

.buttons {
    display: flex; 
    justify-content: space-around; 
    max-width: 60%;
    margin: 0 auto; 
    padding: 1rem 0; 
    color: var(--gray-color);
}

.content {
    max-width: 60%;
    color: var(--gray-color);
}

.buttons button {
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem 1rem; 
    border: none;
}