.activity_image {
    max-width: 50px; /* Adjust the maximum width as needed */
    max-height: 50px; /* Adjust the maximum height as needed */
    border: 1px solid #ccc; /* Add a border if desired */
    display: block; /* Ensures proper spacing and alignment */
    margin: auto; /* Centers the image horizontally within the cell */
  }
  