/* course.css */

/* course.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-data{
  border: none;
  display: flex;
}

th,
td {
  padding: 10px;
  text-align: left;
  
}

th {
  background-color: #f2f2f2;
}

td img {
  max-width: 100px;
  max-height: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #ffffff;
  color: rgb(236, 142, 142);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #000000;
}

.pagination button:hover {
  background-color: #8f8989;
}

.update-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-form h2 {
  margin-bottom: 10px;
}


/* AddCourse.css */



form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  gap: 10px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.backarrow-btn{
  background: transparent;
  font-size: 30px;
  font-weight: 800;
  color: blue;
  
}
.add-btn{
  background: transparent;
  font-size: 30px;
  font-weight: 800;
  color: blue;
  position: absolute;
right: 10px;
top: 60px;
}
.addcoarse-form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.form-field{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.form-field-a{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-field-a label{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 150px;
}
.submit-btn{
  background: transparent;
  color: blue;
  font-size: 30px;
}


button:hover {
  
}
.dlt-btn{
  background: transparent;
  color: red;
  font-size: 25px;
}
.edit-btn{
  background: transparent;
  color: blue;
  font-size: 25px;
}
.sub-btn-btn{
  background: transparent;
  color: blue;
  font-weight: 700;
  font-size: 25px;
}
.cross-btn{
  background: transparent;
  color: red;
  font-weight: 900;
  font-size: 25px;
}


