/* course.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.course-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 20px); /* Two cards per row for smaller screens */
  box-sizing: border-box;
}

.course-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.course-info h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.bold-text {
  font-weight: bold;
}

.course-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.course-actions button {
  background: transparent;
  font-size: 20px;
  font-weight: 800;
  color: blue;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.course-actions button:hover {
  color: darkblue;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: rgb(236, 142, 142);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  border-radius: 6px;
  margin: 0 5px;
}

.pagination button.active {
  background-color: #000000;
  color: #ffffff;
}

.pagination button:hover {
  background-color: #8f8989;
}

/* Update Form Styles */

.course-update-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-update-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course-update-form input,
.course-update-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.course-update-form button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.course-update-form button.cross-btn {
  background: transparent;
  color: red;
  font-weight: 900;
  font-size: 25px;
}
.add-course-button {
  margin-left: 650px;
}
/* Mobile Styles */

@media screen and (max-width: 768px) {
  .course-card {
    width: 100%;
  }
}
