.table-bordered th{
    background: gray;
    color: white;
}
.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #dddddd;
}

.table th, .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #565656;
    font-weight: bold;
}
